html {
    font-family: Roboto;
    font-size: 15px;
}
body {
    background-color: #ECECEC;
    margin: 0;
}
header{
    margin-top: 0;
    //padding: 0;
    height: 50px;
    background: rgb(170,128,158);
    background: linear-gradient(258deg, rgba(170,128,158,1) 47%, rgba(106,191,208,1) 100%);
    //background-color: #D8EFF3;
    //border: 1px solid black;
}
.wrapper {
    background-color: #FFFFFF;
    width: 98%;
    //max-width: 1500px;
    margin: 1%;
//border: 2px solid black;
    word-break: break-all;
    //position: ;
}
h1 {
    text-align: center;
    font-size: 50px;
}
#head_ico{
    float: left;
    margin: 5px 30px 5px 5px;
    width: 60px;
    height: 40px;
}
.states{
    margin-left: 10%;
    margin-right: 20%;
    margin-bottom: 1%;
    width: 70%;
    max-width: 1000px;
    border: 2px solid black;
    word-break: break-all;
}